<h1>Would you like yo work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">

    <p>Corfu, Greece</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "5555555555" %></p>

    <h3>Email</h3>
    <p><a href="mailto:example@example.com?subject=PorfolioContact" "email me">Email me</a></p>

  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48454.30761686834!2d22.910922079596254!3d40.62118718544991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a838f41428e0ed%3A0x9bae715b8d574a9!2zzpjOtc-Dz4POsc67zr_Ovc6vzrrOtw!5e0!3m2!1sel!2sgr!4v1522087623745" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>

